In [82]:
# Imports
import logging
import pandas as pd
import requests 
import sqlite3
import sklearn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error	
import math	

#logging info
logging.basicConfig(level = logging.DEBUG)



dbName = "../rest_server/medisch_centrum_randstad/db.sqlite3"
tableName = "rest_api_netlify"
url = "http://localhost:8080/medish_centrum_randstad/api/netlify?page=1"
csvFile = "rest_server_new/medisch_centrum_randstad/data/data.csv"

##########################
### Read from REST API ###
##########################
# logging.info("Extract from REST API")
# response = requests.get(url)
# file_contents= response.json()  #dictionary
# logging.info("Load API Response into Pandas dataframe")
# df = pd.DataFrame.from_dict(file_contents['data']) #all the needed info was condensed into one data column called 'data'
# df3 = df.copy() #keep original for df3 
# logging.debug(df.head())
# logging.info("Load dataset in Database")

######################
### Read from .csv ###
######################
#df pd.read_csv('csvFile',skipinitialspace=True)
#df3 = df.copy() #keep original for df3 
#logging.info("Load dataset in Database")

#

In [83]:
###########################
### Read from SQlite3 db ###
############################
dbConnection = sqlite3.connect(dbName)

In [84]:
# # df1

# #query db and write to pd:
# dfFromDB = pd.read_sql_query(f"SELECT * FROM {'df1'}", dbConnection)
# #sql adds index, remove:
# df1 = dfFromDB.drop('index', axis=1)
# pd.set_option('display.max_columns', 10)
# display(df1.head())
# # display(df1.info)#

In [85]:
#query db and write to pd:
dfFromDB = pd.read_sql_query(f"SELECT * FROM {'df5'}", dbConnection)
#sql adds index, remove:
df5 = dfFromDB.drop('index', axis=1)
pd.set_option('display.max_columns', 10)
display(df5.head(2))
display(df5.info)

   lifespan   mass  genetic  exercise  smoking  alcohol   bmi
0      73.1   99.7     73.9       0.9      0.0      2.4  29.1
1      85.0  105.4     86.0       1.8      8.1      0.4  35.6

<bound method DataFrame.info of       lifespan   mass  genetic  exercise  smoking  alcohol   bmi
0         73.1   99.7     73.9       0.9      0.0      2.4  29.1
1         85.0  105.4     86.0       1.8      8.1      0.4  35.6
2         81.6  111.4     83.3       1.1      0.8      4.6  36.0
3         81.0  111.4     82.8       4.7     11.8      1.0  41.4
4         75.0   71.6     78.7       1.5      8.3      4.9  22.6
...        ...    ...      ...       ...      ...      ...   ...
3972      82.4   53.2     90.0       3.6     22.0      4.8  15.1
3973      80.7  115.9     80.3       3.7      0.1      5.6  37.4
3974      71.1  129.6     75.3       3.6      6.2      5.6  49.4
3975      90.0  115.3     93.1       2.7      9.4      4.9  32.3
3976      75.9   90.8     77.9       2.3     13.2      0.8  31.4

[3977 rows x 7 columns]>

In [86]:
display(df5.describe())

,lifespan,mass,genetic,exercise,smoking,alcohol,bmi
count,3977.000000,3977.000000,3977.000000,3977.000000,3977.000000,3977.000000,3977.000000
mean,79.988358,91.708801,82.038823,2.404249,9.780639,2.269776,27.419437
std,7.453324,25.246900,7.087155,1.170096,6.910443,1.803397,8.306686
min,59.700000,50.000000,64.000000,0.100000,0.000000,0.000000,11.300000
25%,75.000000,71.300000,77.600000,1.500000,3.300000,0.600000,20.900000
50%,79.600000,89.000000,81.700000,2.200000,9.500000,1.700000,26.400000
75%,84.900000,110.000000,86.500000,3.200000,15.800000,4.000000,33.000000
max,100.400000,163.600000,100.300000,5.500000,22.200000,6.000000,51.500000

In [87]:
# # df3

# #query db and write to pd:
# dfFromDB = pd.read_sql_query(f"SELECT * FROM {'df3'}", dbConnection)
# #sql adds index, remove:
# df3 = dfFromDB.drop('index', axis=1)
# pd.set_option('display.max_columns', 10)
# # display(df3.head())
# # display(df3.info)
# # display(df3.describe())

In [88]:
#query db and write to pd:
dfFromDB = pd.read_sql_query(f"SELECT * FROM {'df5_1'}", dbConnection)
#sql adds index, remove:
df5_1 = dfFromDB.drop('index', axis=1)
pd.set_option('display.max_columns', 10)
display(df5_1.head(2))
display(df5_1.info)

   lifespan   mass  genetic  exercise  smoking  alcohol   bmi  length  sugar
0      73.1   99.7     73.9       0.9      0.0      2.4  29.1   185.0    6.9
1      85.0  105.4     86.0       1.8      8.1      0.4  35.6   172.0    4.2

<bound method DataFrame.info of       lifespan   mass  genetic  exercise  smoking  alcohol   bmi  length  \
0         73.1   99.7     73.9       0.9      0.0      2.4  29.1   185.0
1         85.0  105.4     86.0       1.8      8.1      0.4  35.6   172.0
2         81.6  111.4     83.3       1.1      0.8      4.6  36.0   176.0
3         81.0  111.4     82.8       4.7     11.8      1.0  41.4   164.0
4         75.0   71.6     78.7       1.5      8.3      4.9  22.6   178.0
...        ...    ...      ...       ...      ...      ...   ...     ...
3972      82.4   53.2     90.0       3.6     22.0      4.8  15.1   188.0
3973      80.7  115.9     80.3       3.7      0.1      5.6  37.4   176.0
3974      71.1  129.6     75.3       3.6      6.2      5.6  49.4   162.0
3975      90.0  115.3     93.1       2.7      9.4      4.9  32.3   189.0
3976      75.9   90.8     77.9       2.3     13.2      0.8  31.4   170.0

      sugar
0       6.9
1       4.2
2       7.5
3       2.9
4       5.5
...     ...
3972    8.9
3973    5.8
3974    7.6
3975    6.6
3976    6.2

[3977 rows x 9 columns]>

In [89]:
dbConnection.close()

# make spit for df1

In [90]:
# functie om coefficient of determination(R²) vanilla: te berekenen
# StDek

def coefficient_R(x):
        # R^2
    train, test = train_test_split(x, test_size=0.2, random_state=42) # random state 42 om steeds de zelfde split te maken.
    
    X = train.drop(['lifespan'], axis=1) # definieer de Xas. Drop de waarde die op de Y-as komt
    y = train.lifespan # de waarde die op de y-as komt. 
    regr = linear_model.LinearRegression()
    regr.fit(X, y) 
    score = regr.score(test.drop(['lifespan'],axis=1),test.lifespan)
    print(f'coefficient of determination(R\N{SUPERSCRIPT TWO}) vanilla:', score) # print de waarde die we willen zien. 
    
    # RMSE 	

    p_test = regr.predict(x.drop(columns='lifespan'))	
	
    mse = mean_squared_error(x.lifespan, p_test)	
    
    rmse = (math.sqrt(mse))	
    print(f'Interpret Root Mean Square Error: {rmse}')

In [91]:
# test veld

# df = df2.copy()
# coefficient_R(df)

In [92]:

# x_train, x_test, y_train, y_test = train_test_s[df1.drop(['lifespan'], axis=1)]plit(df1, test_size=0.2, random_state=42)
# X = x_train 
# y = y_train.lifespan
# regr = linear_model.LinearRegression()

# regr.fit(X,y)

In [93]:
# df1

# create the df to be trained.
 
coefficient_R(df5)

coefficient of determination(R²) vanilla: 0.980805278489876
Interpret Root Mean Square Error: 1.0817512110573468

In [94]:
# df2

# create the df to be trained.

 
coefficient_R(df5_1)

coefficient of determination(R²) vanilla: 0.9820618333051058
Interpret Root Mean Square Error: 1.0543180939446808

<!-- train, test = train_test_split(temp, test_size=0.2, random_state=42)
 
X = train[['genetic', 'length', 'mass', 'exercise', 'smoking', 'alcohol', 'sugar']]
y = train.lifespan
regr = linear_model.LinearRegression()
regr.fit(X, y) 
score = regr.score(test[['genetic', 'length', 'mass', 'exercise', 'smoking', 'alcohol', 'sugar']],test.lifespan)
print(f'coefficient of determination(R\N{SUPERSCRIPT TWO}) vanilla:', score)
a1=score -->

In [95]:
# kijk met isna welke values NaN zijn. met any waar isna true is en selecteer die met loc
df5_contains_NaN = df5.loc[df5.isna().any(axis=1)]

# print het resultaat
print(df5_contains_NaN)

Empty DataFrame
Columns: [lifespan, mass, genetic, exercise, smoking, alcohol, bmi]
Index: []