In [2]:
# ... go to terminal :  ../rest_server/ 
# ... run ./start_rest_server.sh
# ...
# ... import the relevant librairies
# ...
# ... download from the API with request.get
# ... change the response into dictionairy structured as a .json this does also check if the structure is suitable for a .json
# ...
# ... create a pandas dataframe named df
# ...
# ... safe the df as a .csv were teh delimiter is a semi colon. 



import requests
import pandas as pd


response = requests.get('http://localhost:8080/medish_centrum_randstad/api/netlify?page=1') 
raw_data = response.json()

df = pd.DataFrame.from_dict(raw_data['data']) 





# print(type(download))
# print(type(raw_data))
# display(raw_data)
# display(df)

In [3]:
df.head()

   genetic  length  mass  exercise  smoking  alcohol  sugar  lifespan
0     84.0   180.0  90.0       2.0      9.0      1.0      2        86
1     84.0   204.0  79.0       3.0      2.0      7.0      3       100
2     84.0   174.0  74.0       3.0     20.0      3.0      2        87
3     84.0   187.0  78.0       2.0      6.0      5.0      3        91
4     84.0   187.0  89.0       2.0     12.0      0.0      2        83

In [ ]:

df.to_csv('../edited_files/raw_data.csv', index=False,sep=';')