In [1]:
# ... import the required librairies


import seaborn as sns # Samuel Norman "Sam" Seaborn is a fictional character portrayed by Rob Lowe on the television serial drama The West Wing. Hence: sns
import pandas as pd
import datetime as dt

In [2]:
# ... import the required .csv file. Change the name to the file you prefer to look at. 

df= pd.read_csv('../data/input_data/data.csv',skipinitialspace=True)
df.head()

  genetic length   mass exercise  smoking alcohol sugar  lifespan
0    73.9    185   99.7      0.9      0.0     2.4   6.9      73.1
1    86.0    172  105.4      1.8      8.1     0.4   4.2      85.0
2    83.3    176  111.4      1.1      0.8     4.6   7.5      81.6
3    82.8    164  111.4      4.7     11.8     1.0   2.9      81.0
4    78.7    178   71.6      1.5      8.3     4.9   5.5      75.0

In [3]:

# ... removes turns non-int/non-flo to NaN and removes NaN

df['genetic'] = pd.to_numeric(df['genetic'], errors='coerce')
df['length'] = pd.to_numeric(df['length'], errors='coerce')
df['mass'] = pd.to_numeric(df['mass'], errors='coerce')
df['exercise'] = pd.to_numeric(df['exercise'], errors='coerce')
df['alcohol'] = pd.to_numeric(df['alcohol'], errors='coerce')
df['sugar'] = pd.to_numeric(df['sugar'], errors='coerce')


df.astype('float64').dtypes

genetic     float64
length      float64
mass        float64
exercise    float64
smoking     float64
alcohol     float64
sugar       float64
lifespan    float64
dtype: object

In [11]:
# ## ... not used atm 
# # ... maak een column bmi en een column bmi_category om te kijken of dat impact heeft.  

# df['bmi'] = df['mass']/(df['length']/100)**2
# df.head()

In [6]:

# ... select value to be looked at.

key = df.keys()

pipe = input('please type the name of the column you want to look at')
if pipe in key:
    print (f'We will be looking at "{pipe}" this time.')
else:
    print ('Please rerun this field and suply a valid column key.')

We will be looking at "alcohol" this time.

In [7]:
# # ... get a loc  not used atm
# dx=df.columns.get_loc(pipe)
# print (dx)

5

In [10]:
print(df.head())
print(df.describe())

   genetic  length   mass  exercise  smoking  alcohol  sugar  lifespan  \
0     73.9   185.0   99.7       0.9      0.0      2.4    6.9      73.1
1     86.0   172.0  105.4       1.8      8.1      0.4    4.2      85.0
2     83.3   176.0  111.4       1.1      0.8      4.6    7.5      81.6
3     82.8   164.0  111.4       4.7     11.8      1.0    2.9      81.0
4     78.7   178.0   71.6       1.5      8.3      4.9    5.5      75.0

         bmi
0  29.130752
1  35.627366
2  35.963326
3  41.418798
4  22.598157
           genetic       length         mass     exercise      smoking  \
count  4095.000000  4093.000000  4094.000000  4095.000000  4096.000000
mean     82.268352   183.880283    92.268442     2.402125     9.807446
std       7.442579    12.623054    25.791314     1.170062     6.921461
min      63.900000   154.000000    50.000000     0.100000     0.000000
25%      77.600000   175.000000    71.500000     1.500000     3.300000
50%      81.800000   184.000000    89.500000     2.200000     9.500000
75%      86.700000   193.000000   110.875000     3.200000    15.900000
max     102.200000   214.000000   163.600000     5.500000    22.200000

           alcohol        sugar     lifespan          bmi
count  4094.000000  4095.000000  4096.000000  4091.000000
mean      2.264558     6.482955    80.127783    27.680923
std       1.800523     2.710213     8.042270     8.714822
min       0.000000     0.700000    -1.000000    11.320500
25%       0.600000     4.400000    75.000000    20.933229
50%       1.700000     6.300000    79.700000    26.471820
75%       4.000000     8.400000    85.200000    33.213684
max       6.000000    13.800000   105.100000    65.869494

In [16]:
# ... test plot not used atm

# got any outliers?
# sns.boxplot(x=df['lifespan'])

# sns.boxplot(df[pipe])


#... alles buiten de lijnen is een outlier.

In [14]:
# ... safe the data from this notebook as a csv in the folder output 

df.to_csv('../data/output_data/data_{}_{}.csv'.format(pipe,dt.datetime.now().strftime("%Y-%m-%d %H-%M")), index=False,sep=';')